{% extends 'cuentas/base.html' %}

{% block title %} Detalles {% endblock %}

{% block content %}

<div class="row">

    <div class="col l5 s12 offset-l1">

        <table id=transactionTable> <!--class='responsive-table'-->

            <thead>
                <tr>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Categoría
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Fecha
                    </th>
                </tr>
            </thead>

            <tbody>

                    <tr>
                        <td>
                            {{cuenta.tipo}}
                        </td>
                        <td>
                            {{cuenta.cantidad}}
                        </td>
                        <td>
                            {% for categoria in cuenta.categoria.all %}
                                {{categoria}}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {{cuenta.descripcion}}
                        </td>
                        <td>
                            {{cuenta.created}}
                        </td>
                    </tr>

            </tbody>
        </table>
        <br>
    </div>

    <div class="col l4 s12">
        <div class="col s8 l11 offset-s2 offset-l1">

            <form method="POST" id="transactionForm">{% csrf_token %}

                <div class="formField">
                    <p>
                        <span id="tipo">{{form.tipo.label}}:</span>

                        {% for radio in form.tipo %}
                            <label for="{{radio.id_for_label}}" id="ingreso">
                                {{radio.tag}}
                            <span class="radio">{{radio.choice_label}}</span>
                            </label>
                        {% endfor %}

                    </p>
                </div>

                <div class="input-field">
                    <label for="transactionAmount">Monto</label>
                    {{form.cantidad}}
                </div>

                <div class="formField">

                    <span>Categoría</span>


                    <select multiple required size='5' style="height:100%"
                    name="categoria" id="id_categoria" class="browser-default">

                        {% for categoria in form.categoria %}
                            {{categoria.tag}}
                        {% endfor %}

                    </select>
                </div>

                <div class="input-field">
                    <label id="labelDescription" for="transactionalDescription">Descripción</label>
                    {{form.descripcion}}
                </div>

                <div class="post" id="divBoton">
                    <!-- <button onclick="location.href='{% url "seguimiento" %}"\ -->
                    <button
                    class="btn waves-effect waves-light" id="botonAgregar" type="submit">Editar
                        <i class="material-icons right">monetization_on</i>
                    </button>
                    <button  type="submit"
                    class="btn waves-effect waves-light" name="botonEliminar" id="botonEliminar">Eliminar
                        <i class="material-icons right">delete_forever</i>
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>

{% endblock %}